<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todofunction20210916094843.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4a3fa45e-d7ad-4017-b759-2de0219099bc/resourcegroups/azureTP120210830204935ResourceGroup/providers/Microsoft.Web/sites/todoFunction20210916094843</ResourceId>
    <UserName>$todoFunction20210916094843</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://todofunction20210916094843.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>